.contact-card{
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color:  rgb(38, 38, 38);
    min-height: 100vh;
    height: auto;
    padding: 20px;
    
    
}
.heading{
    font-family:roboto;
    background-color: rgb(68, 114, 163);
    color: black;
    padding: 5px 15px;
    border: none;
    border-radius: 15px;
    font-size: large;
    cursor: pointer;
}
.heads{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 70vw;
}
.contact-comp{
    color: rgb(246, 246, 246);
    background-color:rgb(60, 60, 60);
    padding: 5px 25px;
    border-style: solid;
    border-color: rgba(150, 161, 164, 0.744);
    border-width: 2px;
    border-left-width: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 10px 0px;    
    max-width: 60vw;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.contact-name{
    font-size: large;
    color:rgb(255, 255, 255);
    margin: none;
}
.contact-no{
    font-size: small;
    color: gray;
    
    
}
